.body {
  background-color: $body-bg;

  @media (max-width: 992px) {
    position: relative;
    height: 100vh;
  }
}

.container {
  max-width: 1782px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.mb-15 {
  margin-bottom: 15px;

  @media (max-width: 768px) {
    margin-bottom: 10px;
  }
}

.mb-30 {
  margin-bottom: 30px;

  @media (max-width: 768px) {
    margin-bottom: 20px;
  }
}
.pt-80 {
  padding-top: 80px;
}
.d-none {
  display: none !important;
}
