.row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 46px;
  @media (max-width: 1770px) {
    justify-content: center;
  }
  @media (max-width: 768px) {
    column-gap: 10px;
    row-gap: 32px;
  }
}
.row-30 {
  row-gap: 30px;
}
.card {
  max-width: 570px;
  width: 100%;
  padding: 35px 28px;
  position: relative;
  height: 254px;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  transition: transform 250ms ease-in-out, filter 250ms ease-in-out;
  &:hover {
    .card__img-wrap {
      transform: scale(1.03);
    }
    .card__img {
      filter: drop-shadow(6px 6px 14px rgba(0, 0, 0, 0.2));
    }
  }
  @media (max-width: 1200px) {
    max-width: 185px;
    min-height: 340px;
    height: 100%;
    padding: 15px;
    border-radius: 15px;
  }
  &.bg-1 {
    background-image: url("/images/svg/c-1.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    @media (max-width: 1200px) {
      background-image: none;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url("/images/svg/c-1.svg") no-repeat right bottom;
        background-size: 100%;
        transform: rotateX(180deg);
      }
    }
  }
  &.bg-1-1 {
    background-image: url("/images/svg/c-1.2.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    @media (max-width: 1200px) {
      background-image: none;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url("/images/svg/c-1.svg") no-repeat right bottom;
        background-size: 100%;
        transform: rotateX(180deg);
      }
    }
  }
  &.bg-2 {
    background-image: url("/images/svg/c-2.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    @media (max-width: 1200px) {
      background-image: none;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url("/images/svg/c-2.svg") no-repeat right bottom;
        background-size: 100%;
        transform: rotateX(180deg);
      }
    }
  }
  &.bg-3 {
    background-image: url("/images/svg/c-3.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    @media (max-width: 1200px) {
      background-image: none;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url("/images/svg/c-1.svg") no-repeat right bottom;
        background-size: 100%;
        transform: rotateX(180deg);
      }
    }
  }
  &.bg-4 {
    background-image: url("/images/svg/c-4.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    @media (max-width: 1200px) {
      background-image: none;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url("/images/svg/c-2.svg") no-repeat right bottom;
        background-size: 100%;
        transform: rotateX(180deg);
      }
    }
  }
  &.bg-5 {
    background-image: url("/images/svg/c-5.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    @media (max-width: 1200px) {
      background-image: none;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url("/images/svg/c-1.svg") no-repeat right bottom;
        background-size: 100%;
        transform: rotateX(180deg);
      }
    }
  }
  &.bg-6 {
    background-image: url("/images/svg/c-6.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    @media (max-width: 1200px) {
      background-image: none;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url("/images/svg/c-6.svg") no-repeat right bottom;
        background-size: 100%;
        transform: rotateX(180deg);
      }
    }
  }
  &.bg-7 {
    background-image: url("/images/svg/c-7.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    @media (max-width: 1200px) {
      background-image: none;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url("/images/svg/c-1.svg") no-repeat right bottom;
        background-size: 100%;
        transform: rotateX(180deg);
      }
    }
  }
  &.bg-8 {
    background-image: url("/images/svg/c-8.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    @media (max-width: 1200px) {
      background-image: none;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url("/images/svg/c-2.svg") no-repeat right bottom;
        background-size: 100%;
        transform: rotateX(180deg);
      }
    }
  }
  &.bg-9 {
    background-image: url("/images/svg/c-9.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    @media (max-width: 1200px) {
      background-image: none;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url("/images/svg/c-1.svg") no-repeat right bottom;
        background-size: 100%;
        transform: rotateX(180deg);
      }
    }
  }
}
.card__title {
  color: $title-color;
  font-family: $main-font;
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0%;
  margin-bottom: 27px;
  @media (max-width: 1200px) {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 20px;
  }
}
.card__content {
  max-width: 310px;
  @media (max-width: 1200px) {
    max-width: auto;
    display: flex;
    flex-direction: column-reverse;
  }
}
.card_nav {
  display: inline-table;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  z-index: 1;
}
.card__link {
  display: inline-block;
  color: $title-color;
  font-family: $main-font;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0%;
  padding: 10px;
  border-radius: 7px;
  background: rgb(244, 244, 244);
  transition: background-color 150ms ease-in-out;
  &:not(:last-child) {
    margin-right: 5px;
    margin-bottom: 5px;
  }
  &:hover {
    background-color: #e5e5e5;
  }
  &.active {
    background-color: #e5e5e5;
  }
  @media (max-width: 1200px) {
    font-size: 9px;
    line-height: 11px;
    padding: 7px 5px;
  }
}
.card__img-wrap {
  width: 249px;
  height: 244px;
  position: absolute;
  right: -12px;
  bottom: 0;
  transition: transform 250ms ease-in-out;
  @media (max-width: 1200px) {
    width: 187px;
    height: 151px;
    margin-left: -8px;
    position: static;
  }
}
.d-1 {
  width: 280px;
  height: 280px;
  right: 0;
  bottom: 16px;
  @media (max-width: 1200px) {
    width: 181px;
    height: 181px;
    margin-top: -30px;
    position: relative;
    z-index: 1;
  }
}
.r-1 {
  width: 274px;
  height: 274px;
  right: 0;
  bottom: 7px;
  @media (max-width: 1200px) {
    width: 174px;
    height: 174px;
    margin-top: -20px;
    position: relative;
    z-index: 1;
  }
}
.t-1 {
  width: 226px;
  height: 226px;
  right: 10px;
  bottom: 15px;
  @media (max-width: 1200px) {
    width: 168px;
    height: 168px;
    margin-top: -10px;
    margin-left: auto;
    position: relative;
    z-index: 1;
  }
}
.d-g-1 {
  width: 257px;
  height: 257px;
  right: 30px;
  top: 10px;
  @media (max-width: 1200px) {
    width: 187px;
    height: 183px;
    margin-top: -20px;
    margin-left: 18px;
    position: relative;
    z-index: 1;
  }
}
.g-g-1 {
  width: 248px;
  height: 248px;
  right: 20px;
  bottom: 22px;
  @media (max-width: 1200px) {
    width: 153px;
    height: 157px;
    margin-top: 0px;
    margin-left: 18px;
    position: relative;
    z-index: 1;
  }
}
.a-1 {
  width: 274px;
  height: 274px;
  right: 10px;
  bottom: 20px;
  @media (max-width: 1200px) {
    width: 187px;
    height: 137px;
    margin-top: 0px;
    margin-left: 1px;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
  }
}
.k-1 {
  width: 258px;
  height: 258px;
  right: 0;
  bottom: 10px;
  @media (max-width: 1200px) {
    width: 153px;
    height: 160px;
    margin-top: 0px;
    margin-left: 1px;
    position: relative;
    z-index: 1;
  }
}
.z-1-3 {
  right: -4px;
  bottom: 12px;
  @media (max-width: 1200px) {
    position: relative;
    z-index: 1;
  }
}
.z-1-4 {
  right: -7px;
  bottom: 7px;
  width: 261px;
  height: 261px;
  @media (max-width: 1200px) {
    position: relative;
    z-index: 1;
    margin-right: auto;
    transform: translate(-17%, -20px);
  }
}
.d-g-2 {
  width: 276px;
  height: 276px;
  right: 10px;
  bottom: -10px;
}
.d-g-3 {
  width: 276px;
  height: 276px;
  right: 10px;
  bottom: -10px;
}
.d-g-4 {
  width: 276px;
  height: 276px;
  right: 10px;
  bottom: -10px;
}
.d-g-5 {
  width: 310px;
  height: 310px;
  right: 10px;
  top: -10px;
}
.g-g-2 {
  width: 259px;
  height: 259px;
  right: 25px;
  bottom: 25px;
}
.g-g-3 {
  width: 259px;
  height: 259px;
  right: 0px;
  bottom: 15px;
}
.k-2 {
  width: 269px;
  height: 269px;
  right: 0;
  bottom: 10px;
}
.k-3 {
  width: 269px;
  height: 269px;
  right: 25px;
  bottom: 8px;
}
.z-1-2 {
  @media (max-width: 1200px) {
    position: relative;
    z-index: 1;
  }
}
.card__img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: right bottom;
  transition: filter 250ms ease-in-out;
}
